page-pre-login {
    .logo {
        width: 120px;
        margin: auto;
        text-align: center;
        margin-top: 50px;
    }
    .slide-heading {
        margin-top: 20px;
        font-weight: 600;
        color: #000000;
        font-size: 2.30rem;
        text-align: center;
    }

    .slide-text {
        margin-top: 20px;
        font-weight: 400;
        color: #898989;
        font-size: 1.80rem;
        text-align: center;
    }

    .slide-slogan {
        margin-top: 80px;
        font-weight: 600;
        color: #000000;
        font-size: 2.2rem;
        text-align: center;
    }

    .login-button {
        margin-top: 50px;
    }
}
