page-edit-profile {
    .logo {
        text-align: center;
        margin-top: 20px;
    }

    .logo img {
        width: 150px;
    }
    
    .login-container {
        background-color:#FFFFFF;
        margin-top: 0px;
    }

    .item {
        padding-left: 0 !important;
    }

    .select {
        max-width: 100%;
        width: 100%;
    }
}
