<ion-header>
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="backClick()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Our Stores</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <div class="search-container">
        <div class="search-input">
            <ion-input type="text" [(ngModel)]="searchText" placeholder="Search address" (ionChange)="searchChanged()"></ion-input>
        </div>
        <div class="search-icon">
            <ion-icon name="md-search"></ion-icon>
        </div>
    </div>
    <div class="locations">
        <div text-center padding *ngIf="loading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="welcome-message" [innerHTML]="welcomeMessage" *ngIf="welcomeMessage!=''"></div>
        <ion-list>
            <div class="location" *ngFor="let location of teams" (click)="locationClick(location)">
                <div class="top">
                    <div class="image" *ngIf="location.static_map_url!=''">
                        <img [src]="location.static_map_url" />
                    </div>
                </div>
                <div class="info-container">
                    <div class="company-name">{{location.branch_name}}</div>
                    <div class="branch-address">{{location.branch_address}}</div>
                    <div class="branch-distance" *ngIf="location.show_distance">
                        <b><ion-icon name="md-pin"></ion-icon>&nbsp;{{location.distance_text}}</b>
                    </div>
                </div>
                <div class="branch-phone" (click)="callClick(location,$event)">
                    <ion-icon name="md-call"></ion-icon>
                    &nbsp;
                    {{location.branch_phone}}
                </div>
                <div class="directions-button" (click)="directionsClick(location,$event)">
                    <ion-icon name="ios-information-circle-outline"></ion-icon>
                    &nbsp;
                    Directions
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>
